data/.DS_Store
.DS_Store
data/TM2_36353_Flight_MEGS-A_adata.sav
data/TM2_36353_Flight_MEGS-B_bdata.sav
data/Woods_36-353_Cal_Rocket_Quicklook.pptx
data/TM1/analogs_36353_flight_adata.sav
data/TM1/esp_36353_flight_edata.sav
data/TM1/megs_p_36353_flight_pdata.sav
data/TM1/TM1_36353_Flight.log
data/TM1/TM1_36353_Flight.log_analogs.dat
code/rkt36353_megsa_dark_particles+Sep_30_2021.sav
data/rkt36353_megsa_dark_particles_Sep_30_2021.sav
data/rkt36353_megsb_dark_particles_Oct_1_2021.sav
